<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cosmos.mapper.SliderMapper">
	<sql id="myBuilding">build_code = 1 </sql>
	<sql id="flag">${component} = '0'</sql>
	
	<select id="getSliders" resultType="com.cosmos.dto.RoomDTO">
		select * from slider_images
		where 
			<include refid="flag"><property name="component" value="activity"/></include>
		and
			<include refid="flag"><property name="component" value="delete_flag"/></include>
		and
			<include refid="myBuilding"></include>
		order by sort_no asc limit 5
	</select>
	
	<update id="deleteSlider">
		update slider_images set delete_flag = '1' where #{no}
	</update>

	<update id="recoverySlider">
		update slider_images set delete_flag = '0' where #{no}
	</update>
	
	<insert id="insertSlider" >
		insert 

	</insert>

</mapper>